.signup-body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #23242a;
  }
  
  .signup-box{
    position: relative;
    width: 400px;
    height: 550px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  }
  .signup-box::before
  {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 550px;
    background: linear-gradient(0deg,transparent,transparent,red,red,red);
    /* background:#45f3ff; */
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 5s linear infinite;
  }
  @keyframes animate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
    
  }
  
  .signup-form{
    position: absolute;
    inset: 4px;
    background: #222;;
    padding: 50px 40px;
    border-radius: 8px; 
    z-index: 2;
    display: flex;
    flex-direction: column; 
  } 
  .signup-form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .inputbox{
  position: relative;
  width: 300px;
  margin-top: 35px;
  }
    .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  
  }
   .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
  } 
  .inputbox input:valid~span,
  .inputbox input:focus~span
  {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
  }
  .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0px; 
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
  } 
  .inputbox input:valid~i,
  .inputbox input:focus~i
  {
    height: 44px;
  }
  .links
  {
   display: flex;
   justify-content: space-between;
  }
  .links a
  {
   margin: 10px 0;
   font-size: 1.1em;
   color: white;
   text-decoration: none;
  }
  .links a:hover,
  .links a:nth-child(2)
  {
    color: #fff;
  
  }
  .signup-form input[type="submit"]
  {
    border: none;
    outline: none;
    padding: 9px  25px ;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 9px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
  
  }
  .signup-form input[type="submit"]:active
  
  {
    opacity: 0.8;
    background-color: rgb(248, 40, 40);
    color: white;

  }
  
  .search-count h1{
    text-align: center;
    color: #343434;
    margin-top: 40px;
  }

  @media (max-width:500px) {
    .signup-box{
     
      width: 320px;
      height: 530px;
    }
    .signup-box::before
    {
      
      width: 290px;
      height: 380px;
    }
    
    .signup-form{
      padding: 50px 40px;
      border-radius: 8px;
    } 
    .inputbox{
    position: relative;
    width: 230px;
    margin-top: 35px;
    }
  
  }